@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Three One Seven's Inventory Management</h1>

    <p>"And whatever you do, in word or deed, do everything in the name of the Lord Jesus giving thanks to God the Father through him."</p>
</div>
